.swiper-button-next,
.swiper-button-prev {
  color: #000; /* Customize the navigation button color */
}

.swiper-pagination-bullet {
  background-color: #000; /* Customize the pagination bullet color */
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbc8c8;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #eee;
}

.invisible-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 4px;
}

.invisible-scrollbar::-webkit-scrollbar-track {
  background: #00000037;
}

.invisible-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6f42c1;
  border-radius: 4px;
}

.invisible-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #00000037;
}